<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.copypaste"
          class="br.org.archimedes.copypaste.CopyPasteFactory">
         	<shortcut id="co"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/copy_co.png"
               id="copy"
               label="%command.copypaste.label"
               mnemonic="%command.copypaste.mnemonic"
               style="push"
               tooltip="%command.copypaste.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.copypaste">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/copy_co.png"
               id="copy"
               label="%command.copypaste.label"
               mnemonic="%command.copypaste.mnemonic"
               style="push"
               tooltip="%command.copypaste.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.copypaste">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
