<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension point="br.org.archimedes.intersections.elementsIntersector">
       <elementsIntersector
			id="br.org.archimedes.intersector.arcarc"
			element="br.org.archimedes.arc"
			otherElement="br.org.archimedes.arc"
			class="br.org.archimedes.intersector.arcarc.ArcArcIntersector"/>
   </extension>

</plugin>
