<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.io.xml.xmlElementExporter">
         <exporter 
         	id="br.org.archimedes.line.xml.exporter" 
         	elementId="br.org.archimedes.line" 
         	class="br.org.archimedes.line.xml.LineExporter"/>
   </extension>
</plugin>
