<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element id="br.org.archimedes.line" name="Line" 
         	class="br.org.archimedes.line.Line"
         	factory="br.org.archimedes.line.LineFactory"
         	shortcut="l" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/line.png"
               label="%command.line.label"
               mnemonic="%command.line.mnemonic"
               style="push"
               tooltip="%command.line.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.line">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/line.png"
               label="%command.line.label"
               mnemonic="%command.line.mnemonic"
               style="push"
               tooltip="%command.line.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.line">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.core.factoryactivator"
            contextId="br.org.archimedes.idle"
            schemeId="br.org.archimedes.bindings.default"
            sequence="L">
         <parameter
               id="br.org.archimedes.core.factoryactivator.name"
               value="br.org.archimedes.line">
         </parameter>
      </key>
   </extension>
</plugin>
