<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.paste"
          class="br.org.archimedes.paste.PasteFactory">
         	<shortcut id="pa"/>
         </factory>         
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?before=clipboard.ext">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/paste.png"
               label="%command.paste.label"
               mnemonic="%command.paste.mnemonic"
               style="push"
               tooltip="%command.paste.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.paste">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:edit">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/paste.png"
               label="%command.paste.label"
               mnemonic="%command.paste.mnemonic"
               style="push"
               tooltip="%command.paste.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.paste">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.core.factoryactivator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+V">
         <parameter
               id="br.org.archimedes.core.factoryactivator.name"
               value="br.org.archimedes.paste">
         </parameter>
      </key>
   </extension>

</plugin>
