<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="br.org.archimedes.elementsIntersector">
   		<elementsIntersector
			id="br.org.archimedes.intersector.lineline"
			element="br.org.archimedes.line"
			otherElement="br.org.archimedes.line"
			class="br.org.archimedes.intersector.lineline.LineLineIntersector"/>
	</extension>
</plugin>
