<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.elementExporter">
       <exporter id="br.org.archimedes.infiniteline.xml.exporter"
   extension="xml" 
   elementId="br.org.archimedes.infiniteline"
   class="br.org.archimedes.infiniteLine.xml.InfiniteLineXMLExporter"/>
   </extension>

</plugin>
