<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="The action set containing the text editing actions."
            id="br.org.archimedes.text.edittext.actionSet"
            label="Edit text action set"
            visible="true">
         <action
               icon="icons/edittext.png"
               id="br.org.archimedes.text.edittext.action"
               label="%action.edittext.label"
               menubarPath="transform/complex0"
               style="push"
               class="br.org.archimedes.text.edittext.EditTextAction"
               toolbarPath="transform/complex0"
               tooltip="%action.edittext.tooltip">
            <enablement>
               <objectClass name="br.org.archimedes.model.Drawing"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="br.org.archimedes.factory">
         <factory id="br.org.archimedes.text.edittext"
          class="br.org.archimedes.text.edittext.EditTextFactory"
          handlesDoubleClicks="true"
          handledElementId="br.org.archimedes.text">
         </factory>
   </extension>
</plugin>
