<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.stretch"
          class="br.org.archimedes.stretch.StretchFactory">
         	<shortcut id="s"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="br.org.archimedes.stretch.actionSet"
            label="Stretch action set"
            visible="true">
         <action
               class="br.org.archimedes.stretch.StretchAction"
               icon="icons/stretch.png"
               id="br.org.archimedes.stretch.actionActivate"
               label="%action.stretch.label"
               menubarPath="transform/simple0"
               style="push"
               toolbarPath="transform/simple0"
               tooltip="%action.stretch.tooltip">
            <enablement>
               <objectClass name="br.org.archimedes.model.Drawing"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
</plugin>
