<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extender" name="Extender" schema="schema/extender.exsd"/>
   <extension
         id="br.org.archimedes.extends.default"
         name="The default extender finder"
         point="br.org.archimedes.core.extends">
         <manager class="br.org.archimedes.extend.ExtendManager"/>
   </extension>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.extend"
          	class="br.org.archimedes.extend.ExtendFactory">
         	<shortcut id="ex"/>
         </factory>
   </extension>
   <extension
         point="br.org.archimedes.extend.extender">
         <elementExtender
			id="br.org.archimedes.extend.line"
			element="br.org.archimedes.line"
			class="br.org.archimedes.extenders.LineExtender"/>
         <elementExtender
            class="br.org.archimedes.extenders.ArcExtender"
            element="br.org.archimedes.arc"
            id="br.org.archimedes.extend.arc"/>
         <elementExtender
            class="br.org.archimedes.extenders.SemilineExtender"
            element="br.org.archimedes.semiline"
            id="br.org.archimedes.extend.semiline"/>
         <elementExtender
            class="br.org.archimedes.extenders.PolylineExtender"
            element="br.org.archimedes.polyline"
            id="br.org.archimedes.extend.polyline"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/extend.png"
               label="%command.extend.label"
               mnemonic="%command.extend.mnemonic"
               style="push"
               tooltip="%command.extend.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.extend">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/extend.png"
               label="%command.extend.label"
               mnemonic="%command.extend.mnemonic"
               style="push"
               tooltip="%command.extend.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.extend">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
