#Tue Apr 07 00:05:03 BRT 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=br.org.archimedes.core.feature,br.org.archimedes.calculus.feature,br.org.archimedes.comunication.feature,br.org.archimedes.curves.feature,br.org.archimedes.intersections.feature,br.org.archimedes.io.feature,br.org.archimedes.langpack.feature,br.org.archimedes.lines.feature,br.org.archimedes.operations.edit.feature,br.org.archimedes.operations.workspace.feature,br.org.archimedes.tests.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
