<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element id="br.org.archimedes.leader" name="Leader" 
            class="br.org.archimedes.leader.Leader"
            factory="br.org.archimedes.leader.LeaderFactory" 
            shortcut="lea" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/leader.png"
               label="%command.leader.label"
               mnemonic="%command.leader.mnemonic"
               style="push"
               tooltip="%command.leader.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.leader">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/leader.png"
               label="%command.leader.label"
               mnemonic="%command.leader.mnemonic"
               style="push"
               tooltip="%command.leader.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.leader">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
