<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="br.org.archimedes.elementsIntersector">
		<elementsIntersector
        class="br.org.archimedes.intersector.linePolyline.LinePolylineIntersector"
        element="br.org.archimedes.line"
        id="linePolylineIntersector"
        name="Line Polyline Intersector"
        otherElement="br.org.archimedes.polyline"
        point="br.org.archimedes.elementsIntersector"/>
	</extension>
</plugin>
