<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.polyline.rectangle"
          	class="br.org.archimedes.polyline.rectangle.RectangleFactory">
         	<shortcut id="rec"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/rectangle.png"
               label="%command.rectangle.label"
               mnemonic="%command.rectangle.mnemonic"
               style="push"
               tooltip="%command.rectangle.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline.rectangle">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/rectangle.png"
               label="%command.rectangle.label"
               mnemonic="%command.rectangle.mnemonic"
               style="push"
               tooltip="%command.rectangle.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline.rectangle">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
