<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.zoom"
          class="br.org.archimedes.zoom.ZoomFactory">
         	<shortcut id="z"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="zoom"
               label="%menu.zoom.label"
               mnemonic="%menu.zoom.mnemonic"
               tooltip="%menu.zoom.tooltip">
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomarea.png"
                  label="%command.zoomarea.label"
                  mnemonic="%command.zoomarea.mnemonic"
                  style="push"
                  tooltip="%command.zoomarea.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomextents.png"
                  label="%command.zoomextents.label"
                  mnemonic="%command.zoomextents.mnemonic"
                  style="push"
                  tooltip="%command.zoomextents.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
               <parameter
                     name="br.org.archimedes.core.factoryactivator.furtherinputs"
                     value="e">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomprev.png"
                  label="%command.zoomprev.label"
                  mnemonic="%command.zoomprev.mnemonic"
                  style="push"
                  tooltip="%command.zoomprev.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
               <parameter
                     name="br.org.archimedes.core.factoryactivator.furtherinputs"
                     value="p">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="zoom">
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomarea.png"
                  label="%command.zoomarea.label"
                  mnemonic="%command.zoomarea.mnemonic"
                  style="push"
                  tooltip="%command.zoomarea.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomextents.png"
                  label="%command.zoomextents.label"
                  mnemonic="%command.zoomextents.mnemonic"
                  style="push"
                  tooltip="%command.zoomextents.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
               <parameter
                     name="br.org.archimedes.core.factoryactivator.furtherinputs"
                     value="e">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/zoomprev.png"
                  label="%command.zoomprev.label"
                  mnemonic="%command.zoomprev.mnemonic"
                  style="push"
                  tooltip="%command.zoomprev.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.zoom">
               </parameter>
               <parameter
                     name="br.org.archimedes.core.factoryactivator.furtherinputs"
                     value="p">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
