<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.orto"
          class="br.org.archimedes.orto.OrtoFactory">
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
            id="ortosnap">
          <command
                commandId="br.org.archimedes.orto.command"
                label="%action.orto.label"
                mnemonic="%action.orto.mnemonic"
                style="toggle"
                tooltip="%action.orto.tooltip">
          </command>
        </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?before=workmods.ext">
         <command
               commandId="br.org.archimedes.orto.command"
               label="%action.orto.label"
               mnemonic="%action.orto.mnemonic"
               style="toggle"
               tooltip="%action.orto.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="br.org.archimedes.orto.OrtoHandler"
            description="%action.orto.tooltip"
            id="br.org.archimedes.orto.command"
            name="%action.orto.label">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="br.org.archimedes.orto.state">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.orto.command"
            contextId="org.eclipse.ui.contexts.window"
            platform="win32"
            schemeId="br.org.archimedes.bindings.default"
            sequence="F8"/>
      <key
            commandId="br.org.archimedes.orto.command"
            contextId="org.eclipse.ui.contexts.window"
            platform="gtk"
            schemeId="br.org.archimedes.bindings.default"
            sequence="F8">
      </key>
      <key
            commandId="br.org.archimedes.orto.command"
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            schemeId="br.org.archimedes.bindings.default"
            sequence="F4">
      </key>
   </extension>
</plugin>
