<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.nativeFormat">
         <nativeFormat id="xml" name="%xmlExtensionName" extension="xml"
         	importer="br.org.archimedes.io.xml.XMLImporter"
         	exporter="br.org.archimedes.io.xml.XMLExporter">
         </nativeFormat>
   </extension>
   <extension
         point="br.org.archimedes.nativeFormat">
         <nativeFormat id="arc" name="%xmlExtensionName" extension="arc"
            importer="br.org.archimedes.io.xml.XMLImporter"
            exporter="br.org.archimedes.io.xml.XMLExporter">
         </nativeFormat>
   </extension>
</plugin>
