<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="elementsIntersector" name="Elements Intersector" schema="schema/elementsIntersector.exsd"/>
   <extension
         id="br.org.archimedes.intersection.default"
         name="The default intersection finder"
         point="br.org.archimedes.core.intersections">
         <manager class="br.org.archimedes.intersections.IntersectorsManager"/>
   </extension>
   <extension point="br.org.archimedes.intersections.elementsIntersector">
       <elementsIntersector
            id="br.org.archimedes.intersector.arcarc"
            element="br.org.archimedes.arc"
            otherElement="br.org.archimedes.arc"
            class="br.org.archimedes.intersectors.ArcArcIntersector"/>
   </extension>
   <extension point="br.org.archimedes.intersections.elementsIntersector">
       <elementsIntersector
            id="br.org.archimedes.intersector.arccircle"
            element="br.org.archimedes.arc"
            otherElement="br.org.archimedes.circle"
            class="br.org.archimedes.intersectors.ArcCircleIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.circlecircle"
            element="br.org.archimedes.circle"
            otherElement="br.org.archimedes.circle"
            class="br.org.archimedes.intersectors.CircleCircleIntersector"/>
   </extension>
   <extension point="br.org.archimedes.intersections.elementsIntersector">
        <elementsIntersector
        id="br.org.archimedes.intersector.arcinfiniteline"
        element="br.org.archimedes.arc"
        otherElement="br.org.archimedes.infiniteline"
        class="br.org.archimedes.intersectors.ArcInfiniteLineIntersector"/>     
    </extension>
    <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.circleinfiniteline"
            element="br.org.archimedes.circle"
            otherElement="br.org.archimedes.infiniteline"
            class="br.org.archimedes.intersectors.CircleInfiniteLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.arcline"
            element="br.org.archimedes.arc"
            otherElement="br.org.archimedes.line"
            class="br.org.archimedes.intersectors.ArcLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.circleline"
            element="br.org.archimedes.circle"
            otherElement="br.org.archimedes.line"
            class="br.org.archimedes.intersectors.CircleLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.arcpolyline"
            element="br.org.archimedes.arc"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.ArcPolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.circlepolyline"
            element="br.org.archimedes.circle"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.CirclePolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.dimensionline"
            element="br.org.archimedes.dimension"
            otherElement="br.org.archimedes.line"
            class="br.org.archimedes.intersectors.DimensionLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.infinitelineinfiniteline"
            element="br.org.archimedes.infiniteline"
            otherElement="br.org.archimedes.infiniteline"
            class="br.org.archimedes.intersectors.InfiniteLineInfiniteLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.linepolyline"
            element="br.org.archimedes.line"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.LinePolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.polylinepolyline"
            element="br.org.archimedes.polyline"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.PolylinePolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.infinitelinepolyline"
            element="br.org.archimedes.infiniteline"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.InfiniteLinePolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.lineinfiniteline"
            element="br.org.archimedes.line"
            otherElement="br.org.archimedes.infiniteline"
            class="br.org.archimedes.intersectors.LineInfiniteLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.lineline"
            element="br.org.archimedes.line"
            otherElement="br.org.archimedes.line"
            class="br.org.archimedes.intersectors.LineLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.linetext"
            element="br.org.archimedes.line"
            otherElement="br.org.archimedes.text"
            class="br.org.archimedes.intersectors.LineTextIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilinearc"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.arc"
            class="br.org.archimedes.intersectors.SemilineArcIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilinecircle"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.circle"
            class="br.org.archimedes.intersectors.SemilineCircleIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilineinfiniteline"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.infiniteline"
            class="br.org.archimedes.intersectors.SemilineInfiniteLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilineline"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.line"
            class="br.org.archimedes.intersectors.SemilineLineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilinepolyline"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.polyline"
            class="br.org.archimedes.intersectors.SemilinePolylineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.semilinesemiline"
            element="br.org.archimedes.semiline"
            otherElement="br.org.archimedes.semiline"
            class="br.org.archimedes.intersectors.SemilineSemilineIntersector"/>
   </extension>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
            id="br.org.archimedes.intersector.lineleader"
            element="br.org.archimedes.line"
            otherElement="br.org.archimedes.leader"
            class="br.org.archimedes.intersectors.LineLeaderIntersector"/>
   </extension>
</plugin>
