<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element
               class="br.org.archimedes.text.Text"
               factory="br.org.archimedes.text.TextFactory"
               id="br.org.archimedes.text"
               shortcut="t"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/text.png"
               label="%command.text.label"
               mnemonic="%command.text.mnemonic"
               style="push"
               tooltip="%command.text.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.text">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/text.png"
               label="%command.text.label"
               mnemonic="%command.text.mnemonic"
               style="push"
               tooltip="%command.text.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.text">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
