<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.distance"
            class="br.org.archimedes.distance.DistanceFactory">
         	<shortcut id="d"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="calculus"
               label="%menu.calculus.label"
               mnemonic="%menu.calculus.mnemonic"
               tooltip="%menu.calculus.tooltip">
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/distance.png"
                  label="%command.distance.label"
                  mnemonic="%command.distance.mnemonic"
                  style="push"
                  tooltip="%command.distance.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.distance">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
