#Wed Feb 11 17:11:40 BRST 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
pluginbuilder.features=br.org.archimedes.core.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
