<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="svgElementExporter" name="SVG Element Exporter" schema="schema/svgElementExporter.exsd"/>
   <extension point="br.org.archimedes.core.exporter">
     <exporter id="br.org.archimedes.svg.exporter"
        extension="svg" name="%exporterName"
        class="br.org.archimedes.io.svg.SVGExporter"/>
   </extension>

</plugin>
