<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.io.xml.xmlElementExporter">
       <exporter 
       		id="br.org.archimedes.dimension.xml.exporter"
		    elementId="br.org.archimedes.dimension"
		    class="br.org.archimedes.dimension.xml.DimensionXmlExporter"/>
   </extension>
</plugin>
