<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="br.org.archimedes.intersections.elementsIntersector">
   		<elementsIntersector
			id="br.org.archimedes.intersector.semilinesemiline"
			element="br.org.archimedes.semiline"
			otherElement="br.org.archimedes.semiline"
			class="br.org.archimedes.intersector.semilinesemiline.SemilineSemilineIntersector"/>
	</extension>

</plugin>
