<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="filleter" name="Filleter" schema="schema/filleter.exsd"/>
   <extension
         id="br.org.archimedes.fillets.default"
         name="The default filleter finder"
         point="br.org.archimedes.core.fillets">
         <manager class="br.org.archimedes.fillet.FilletManager"/>
   </extension>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.fillet"
        	  class="br.org.archimedes.fillet.FilletFactory">
         	<shortcut id="f"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/fillet.png"
               label="%command.fillet.label"
               mnemonic="%command.fillet.mnemonic"
               style="push"
               tooltip="%command.fillet.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.fillet">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/fillet.png"
               label="%command.fillet.label"
               mnemonic="%command.fillet.mnemonic"
               style="push"
               tooltip="%command.fillet.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.fillet">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
