<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="factory" name="Factory" schema="schema/factory.exsd"/>
   <extension-point id="importer" name="Importer" schema="schema/importer.exsd"/>
   <extension-point id="exporter" name="Exporter" schema="schema/exporter.exsd"/>
   <extension-point id="nativeFormat" name="Native Format" schema="schema/nativeFormat.exsd"/>
   <extension-point id="element" name="Element" schema="schema/element.exsd"/>
   <extension-point id="intersections" name="Intersections Manager" schema="schema/intersections.exsd"/>
   <extension-point id="trims" name="Element Trim" schema="schema/trims.exsd"/>
   <extension-point id="extends" name="Extend Manager" schema="schema/extends.exsd"/>
   <extension-point id="fillets" name="Element Fillet" schema="schema/fillets.exsd"/>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.org.archimedes.gui.rca.Perspective"
            icon="icons/small.png"
            id="Archimedes.perspective"
            name="%perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%interpreterView"
            allowMultiple="false"
            icon="icons/small.png"
            class="br.org.archimedes.gui.rca.InterpreterView"
            id="Archimedes.interpreterView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="%binding.scheme.default.description"
            id="br.org.archimedes.bindings.default"
            name="%binding.scheme.default.name">
      </scheme>
      <key
            commandId="br.org.archimedes.core.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+N">
      </key>
      <key
            commandId="br.org.archimedes.core.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+O">
      </key>
      <key
            commandId="br.org.archimedes.core.close"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+W">
      </key>
      <key
            commandId="br.org.archimedes.core.close"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+M2+W">
         <parameter
               id="br.org.archimedes.core.close.all"
               value="true">
         </parameter>
      </key>
      <key
            commandId="br.org.archimedes.core.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+S">
      </key>
      <key
            commandId="br.org.archimedes.core.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+M2+M3+S">
         <parameter
               id="br.org.archimedes.core.save.as"
               value="true">
         </parameter>
      </key>
      <key
            commandId="br.org.archimedes.core.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+M2+S">
         <parameter
               id="br.org.archimedes.core.save.all"
               value="true">
         </parameter>
      </key>
      <key
            commandId="br.org.archimedes.core.print"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+P">
      </key>
      <key
            commandId="br.org.archimedes.core.import"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+I">
      </key>
      <key
            commandId="br.org.archimedes.core.export"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+E">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+Q">
      </key>
      <key
            commandId="br.org.archimedes.core.select"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+A">
         <parameter
               id="br.org.archimedes.core.select.data"
               value="all">
         </parameter>
      </key>
      <key
            commandId="br.org.archimedes.core.layereditor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+L">
      </key>
   </extension>
   <extension
         id="archimedes"
         point="org.eclipse.core.runtime.products">
      <product
            application="br.org.archimedes.core.application"
            name="Archimedes">
         <property
               name="aboutImage"
               value="icons/logo128.gif"/>
         <property
               name="aboutText"
               value="Archimedes - The Open CAD is an initiative to produce a framework for CAD systems. Its main workflow is based on a command line system"/>
         <property
               name="windowImages"
               value="icons/logo16.gif,icons/logo32.gif,icons/logo48.gif,icons/logo64.gif,icons/logo128.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="startupProgressRect"
               value="0,0,300,30"/>
         <property
               name="startupMessageRect"
               value="30,0,300,50"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="appName"
               value="Archimedes">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/logo128.gif"
            visible="true">
         <run class="br.org.archimedes.gui.rca.Archimedes"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.org.archimedes.gui.rca.editor.DrawingEditor"
            contributorClass="br.org.archimedes.gui.rca.editor.Contributor"
            extensions="arc"
            icon="icons/small.png"
            id="br.org.archimedes.gui.rca.editor.DrawingEditor"
            name="%editor"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="help/toc.xml" primary="true"/>
      <toc file="help/tocgettingstarted.xml"/>
      <toc file="help/tocreference.xml"/>
      <toc file="help/toctasks.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.factoryactivator.description"
            id="br.org.archimedes.core.factoryactivator"
            name="%command.factoryactivator.name">
         <commandParameter
               id="br.org.archimedes.core.factoryactivator.name"
               name="%command.factoryactivator.factory.parametername"
               optional="true">
         </commandParameter>
         <commandParameter
               id="br.org.archimedes.core.factoryactivator.furtherinputs"
               name="%command.factoryactivator.factory.otherparameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="%command.new.description"
            id="br.org.archimedes.core.new"
            name="%command.new.name">
      </command>
      <command
            description="%command.open.description"
            id="br.org.archimedes.core.open"
            name="%command.open.name">
      </command>
      <command
            description="%command.close.description"
            id="br.org.archimedes.core.close"
            name="%command.close.name">
         <commandParameter
               id="br.org.archimedes.core.close.all"
               name="%command.close.all.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="%command.save.description"
            id="br.org.archimedes.core.save"
            name="%command.save.name">
         <commandParameter
               id="br.org.archimedes.core.save.all"
               name="%command.save.all.name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="br.org.archimedes.core.save.as"
               name="%command.save.as.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="%command.print.description"
            id="br.org.archimedes.core.print"
            name="%command.print.name">
      </command>
      <command
            description="%command.import.description"
            id="br.org.archimedes.core.import"
            name="%command.import.name">
      </command>
      <command
            description="%command.export.description"
            id="br.org.archimedes.core.export"
            name="%command.export.name">
      </command>
      <command
            description="%command.layereditor.description"
            id="br.org.archimedes.core.layereditor"
            name="%command.layereditor.name">
      </command>
      <command
            description="%command.preferenceseditor.description"
            id="br.org.archimedes.core.preferenceseditor"
            name="%command.preferenceseditor.name">
      </command>
      <command
            description="%command.select.description"
            id="br.org.archimedes.core.select"
            name="%command.select.name">
         <commandParameter
               id="br.org.archimedes.core.select.data"
               name="%command.select.data.name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="br.org.archimedes.core.drawingeditor">
         <with
               variable="activeEditorId">
            <equals
                  value="br.org.archimedes.gui.rca.editor.DrawingEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="br.org.archimedes.core.idlestate">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="br.org.archimedes.idle">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="br.org.archimedes.core.started">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="org.eclipse.ui.contexts.window">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.org.archimedes.controller.FactoryActivatorHandler"
            commandId="br.org.archimedes.core.factoryactivator">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="br.org.archimedes.core.idlestate">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.NewHandler"
            commandId="br.org.archimedes.core.new">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.started">
            </reference></activeWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.OpenHandler"
            commandId="br.org.archimedes.core.open">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.started">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.CloseHandler"
            commandId="br.org.archimedes.core.close">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.SaveHandler"
            commandId="br.org.archimedes.core.save">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.LayerEditorHandler"
            commandId="br.org.archimedes.core.layereditor">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
      </handler>
       <handler
            class="br.org.archimedes.gui.handlers.PreferencesEditorHandler"
            commandId="br.org.archimedes.core.preferenceseditor">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="br.org.archimedes.gui.handlers.SelectionHandler"
            commandId="br.org.archimedes.core.select">
         <activeWhen>
            <reference
                  definitionId="br.org.archimedes.core.drawingeditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="%menu.file.label"
               mnemonic="%menu.file.mnemonic"
               tooltip="%menu.file.tooltip">
            <separator
                  name="fileStart"
                  visible="false">
            </separator>
            <command
                  commandId="br.org.archimedes.core.new"
                  icon="icons/new.png"
                  label="%command.new.label"
                  mnemonic="%command.new.mnemonic"
                  style="push"
                  tooltip="%command.new.tooltip">
            </command>
            <command
                  commandId="br.org.archimedes.core.open"
                  icon="icons/open.png"
                  label="%command.open.label"
                  mnemonic="%command.open.mnemonic"
                  style="push"
                  tooltip="%command.open.tooltip">
            </command>
            <separator
                  name="new.ext"
                  visible="true">
            </separator>
            <command
                  commandId="br.org.archimedes.core.close"
                  icon="icons/close.png"
                  label="%command.close.label"
                  mnemonic="%command.close.mnemonic"
                  style="push"
                  tooltip="%command.close.tooltip">
            </command>
            <command
                  commandId="br.org.archimedes.core.close"
                  icon="icons/closeall.png"
                  label="%command.closeall.label"
                  mnemonic="%command.closeall.mnemonic"
                  style="push"
                  tooltip="%command.closeall.tooltip">
               <parameter
                     name="br.org.archimedes.core.close.all"
                     value="true">
               </parameter>
            </command>
            <separator
                  name="close.ext"
                  visible="true">
            </separator>
            <command
                  commandId="br.org.archimedes.core.save"
                  icon="icons/save.png"
                  label="%command.save.label"
                  mnemonic="%command.save.mnemonic"
                  style="push"
                  tooltip="%command.save.tooltip">
            </command>
            <command
                  commandId="br.org.archimedes.core.save"
                  icon="icons/saveas.png"
                  label="%command.saveas.label"
                  mnemonic="%command.saveas.mnemonic"
                  style="push"
                  tooltip="%command.saveas.tooltip">
               <parameter
                     name="br.org.archimedes.core.save.as"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.save"
                  icon="icons/saveall.png"
                  label="%command.saveall.label"
                  mnemonic="%command.saveall.mnemonic"
                  style="push"
                  tooltip="%command.saveall.tooltip">
               <parameter
                     name="br.org.archimedes.core.save.all"
                     value="true">
               </parameter>
            </command>
            <separator
                  name="save.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  icon="icons/print.png"
                  label="%command.print.label"
                  mnemonic="%command.print.mnemonic"
                  style="push"
                  tooltip="%command.print.tooltip">
            </command>
            <separator
                  name="print.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="icons/import.png"
                  label="%command.import.label"
                  mnemonic="%command.import.mnemonic"
                  style="push"
                  tooltip="%command.import.tooltip">
            </command>
            <separator
                  name="import.ext"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.export"
                  icon="icons/export.png"
                  label="%command.export.label"
                  mnemonic="%command.export.mnemonic"
                  style="push"
                  tooltip="%command.export.tooltip">
            </command>
            <separator
                  name="export.ext"
                  visible="true">
            </separator>
            <separator
                  name="mru"
                  visible="false">
            </separator>
            <separator
                  name="fileEnd"
                  visible="false">
            </separator>
         </menu>
         <menu
               id="edit"
               label="%menu.edit.label"
               mnemonic="%menu.edit.mnemonic"
               tooltip="%menu.edit.tooltip">
            <separator
                  name="editStart"
                  visible="false">
            </separator>
            <separator
                  name="undoredo"
                  visible="true">
            </separator>
            <separator
                  name="clipboard.ext"
                  visible="true">
            </separator>
            <command
                  commandId="br.org.archimedes.core.select"
                  label="%command.selectall.label"
                  mnemonic="%command.selectall.mnemonic"
                  style="push"
                  tooltip="%command.selectall.tooltip">
               <parameter
                     name="br.org.archimedes.core.select.data"
                     value="all">
               </parameter>
            </command>
            <command
                  commandId="br.org.archimedes.core.select"
                  label="%command.selectnone.label"
                  mnemonic="%command.selectnone.mnemonic"
                  style="push"
                  tooltip="%command.selectnone.tooltip">
            </command>
            <separator
                  name="selection.ext"
                  visible="true">
            </separator>
            <command
                  commandId="br.org.archimedes.core.layereditor"
                  label="%command.layereditor.label"
                  mnemonic="%command.layereditor.mnemonic"
                  style="push"
                  tooltip="%command.layereditor.tooltip">
            </command>
             <command
                  commandId="br.org.archimedes.core.preferenceseditor"
                  label="%command.preferenceseditor.label"
                  mnemonic="%command.preferenceseditor.mnemonic"
                  style="push"
                  tooltip="%command.preferenceseditor.tooltip">
            </command>
            <separator
                  name="workmods.ext"
                  visible="true">
            </separator>
            <separator
                  name="editEnd"
                  visible="false">
            </separator>
         </menu>
         <menu
               id="create"
               label="%menu.create.label"
               mnemonic="%menu.create.mnemonic"
               tooltip="%menu.create.tooltip">
            <separator
                  name="createStart"
                  visible="false">
            </separator>
            <separator
                  name="complex"
                  visible="true">
            </separator>
            <separator
                  name="createEnd"
                  visible="false">
            </separator>
         </menu>
         <menu
               id="transform"
               label="%menu.transform.label"
               mnemonic="%menu.transform.mnemonic"
               tooltip="%menu.transform.tooltip">
            <separator
                  name="transformStart"
                  visible="false">
            </separator>
            <separator
                  name="complex"
                  visible="true">
            </separator>
            <separator
                  name="transformEnd"
                  visible="false">
            </separator>
         </menu>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="help"
               label="%menu.help.label"
               mnemonic="%menu.help.mnemonic"
               tooltip="%menu.help.tooltip">
            <separator
                  name="helpStart"
                  visible="false">
            </separator>
            <separator
                  name="helpEnd"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="file">
            <separator
                  name="fileStart"
                  visible="false">
            </separator>
            <command
                  commandId="br.org.archimedes.core.new"
                  icon="icons/new.png"
                  label="%command.new.label"
                  mnemonic="%command.new.mnemonic"
                  style="push"
                  tooltip="%command.new.tooltip">
            </command>
            <command
                  commandId="br.org.archimedes.core.open"
                  icon="icons/open.png"
                  label="%command.open.label"
                  mnemonic="%command.open.mnemonic"
                  style="push"
                  tooltip="%command.open.tooltip">
            </command>
            <command
                  commandId="br.org.archimedes.core.close"
                  icon="icons/close.png"
                  label="%command.close.label"
                  mnemonic="%command.close.mnemonic"
                  style="push"
                  tooltip="%command.close.tooltip">
            </command>
            <separator
                  name="fileEnd"
                  visible="false">
            </separator>
         </toolbar>
         <toolbar
               id="edit">
            <separator
                  name="editStart"
                  visible="false">
            </separator>
            <separator
                  name="editEnd"
                  visible="false">
            </separator>
         </toolbar>
         <toolbar
               id="layer">
            <control
                  class="br.org.archimedes.gui.rca.LayerComboContributionItem">
            </control>
         </toolbar>
         <toolbar
               id="create">
            <separator
                  name="createStart"
                  visible="false">
            </separator>
            <separator
                  name="complex"
                  visible="true">
            </separator>
            <separator
                  name="createEnd"
                  visible="false">
            </separator>
         </toolbar>
         <toolbar
               id="transform">
            <separator
                  name="transformStart"
                  visible="false">
            </separator>
            <separator
                  name="complex"
                  visible="true">
            </separator>
            <separator
                  name="transformEnd"
                  visible="false">
            </separator>
         </toolbar>
         <separator
               name="additions"
               visible="false">
         </separator>
         <toolbar
               id="help">
            <separator
                  name="helpStart"
                  visible="false">
            </separator>
            <separator
                  name="helpEnd"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.active.description"
            id="br.org.archimedes.active"
            name="%context.active.name">
      </context>
      <context
            description="%context.disabled.description"
            id="br.org.archimedes.disabled"
            name="%context.disabled.name">
      </context>
      <context
            description="%context.idle.description"
            id="br.org.archimedes.idle"
            name="%context.idle.name">
      </context>
      <context
            description="%context.locked.description"
            id="br.org.archimedes.locked"
            name="%context.locked.name">
      </context>
      <context
            description="%context.selection.description"
            id="br.org.archimedes.selection"
            name="%context.selection.name">
      </context>
   </extension>

</plugin>
