<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="trimmer" name="Element Trimmer" schema="schema/trimmer.exsd"/>
   <extension
   		 id="br.org.archimedes.trims.default"
         name="The default trimmer finder"
         point="br.org.archimedes.trims">
         <manager class="br.org.archimedes.trims.TrimManager"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="br.org.archimedes.trims.actionSet"
            label="Trim action sets"
            visible="true">
         <action
               class="br.org.archimedes.trims.TrimAction"
               icon="icons/trim.png"
               id="br.org.archimedes.trims.action"
               label="Trim"
               menubarPath="transform/simple1"
               style="push"
               toolbarPath="transform/simple1"
               tooltip="Trims the selected element">
            <enablement>
               <objectClass
                     name="br.org.archimedes.model.Drawing">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="br.org.archimedes.factory">
         <factory id="br.org.archimedes.trims"
          class="br.org.archimedes.trims.TrimFactory">
         	<shortcut id="l"/>
         </factory>
   </extension>
   <extension point="br.org.archimedes.trims.trimmer">
   		<elementTrimmer
			id="br.org.archimedes.trim.polyline"
			element="br.org.archimedes.polyline"
			class="br.org.archimedes.trim.polyline.PoylineTrimmer"/>
		<elementTrimmer
			id="br.org.archimedes.trim.circle"
			element="br.org.archimedes.circle"
			class="br.org.archimedes.trim.circle.CircleTrimmer"/>
	</extension>

</plugin>
