<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="trimmer" name="Element Trimmer" schema="schema/trimmer.exsd"/>
   <extension
   		 id="br.org.archimedes.trims.default"
         name="The default trimmer finder"
         point="br.org.archimedes.core.trims">
         <manager class="br.org.archimedes.trims.TrimManager"/>
   </extension>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.trims"
          class="br.org.archimedes.trims.TrimFactory">
         	<shortcut id="tr"/>
         </factory>
   </extension>
   <extension point="br.org.archimedes.trims.trimmer">
   		<elementTrimmer
			id="br.org.archimedes.trim.polyline"
			element="br.org.archimedes.polyline"
			class="br.org.archimedes.trimmers.PolylineTrimmer"/>
		<elementTrimmer
			id="br.org.archimedes.trim.circle"
			element="br.org.archimedes.circle"
			class="br.org.archimedes.trimmers.CircleTrimmer"/>
		<elementTrimmer
			id="br.org.archimedes.trim.line"
			element="br.org.archimedes.line"
			class="br.org.archimedes.trimmers.LineTrimmer"/>
		<elementTrimmer
			id="br.org.archimedes.trim.arc"
			element="br.org.archimedes.arc"
			class="br.org.archimedes.trimmers.ArcTrimmer"/>
        <elementTrimmer
            id="br.org.archimedes.trim.semiline"
            element="br.org.archimedes.semiline"
            class="br.org.archimedes.trimmers.SemilineTrimmer"/>
        <elementTrimmer
            id="br.org.archimedes.trim.infiniteline"
            element="br.org.archimedes.infiniteline"
            class="br.org.archimedes.trimmers.InfiniteLineTrimmer"/>    
	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/trim.png"
               label="%command.trim.label"
               mnemonic="%command.trim.mnemonic"
               style="push"
               tooltip="%command.trim.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.trims">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/trim.png"
               label="%command.trim.label"
               mnemonic="%command.trim.mnemonic"
               style="push"
               tooltip="%command.trim.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.trims">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
