<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.pan"
          class="br.org.archimedes.pan.PanFactory">
         	<shortcut id="p"/>
         </factory>         
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="zoom"
               label="%menu.zoom.label"
               mnemonic="%menu.zoom.mnemonic"
               tooltip="%menu.zoom.tooltip">
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/pan.png"
                  label="%command.pan.label"
                  mnemonic="%command.pan.mnemonic"
                  style="push"
                  tooltip="%command.pan.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.pan">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="zoom">
            <command
                  commandId="br.org.archimedes.core.factoryactivator"
                  icon="icons/pan.png"
                  label="%command.pan.label"
                  mnemonic="%command.pan.mnemonic"
                  style="push"
                  tooltip="%command.pan.tooltip">
               <parameter
                     name="br.org.archimedes.core.factoryactivator.name"
                     value="br.org.archimedes.pan">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
