<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element id="br.org.archimedes.polyline" name="Polyline" 
            class="br.org.archimedes.polyline.Polyline"
            factory="br.org.archimedes.polyline.PolylineFactory"
            shortcut="pl" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/polyline.png"
               label="%command.polyline.label"
               mnemonic="%command.polyline.mnemonic"
               style="push"
               tooltip="%command.polyline.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/polyline.png"
               label="%command.polyline.label"
               mnemonic="%command.polyline.mnemonic"
               style="push"
               tooltip="%command.polyline.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
