<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element
               class="br.org.archimedes.dimension.Dimension"
               factory="br.org.archimedes.dimension.DimensionFactory"
               id="br.org.archimedes.dimension"
               name="Dimension"
               shortcut="dim"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/dimension.png"
               label="%command.dimension.label"
               mnemonic="%command.dimension.mnemonic"
               style="push"
               tooltip="%command.dimension.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.dimension">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/dimension.png"
               label="%command.dimension.label"
               mnemonic="%command.dimension.mnemonic"
               style="push"
               tooltip="%command.dimension.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.dimension">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
