<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.scale"
          class="br.org.archimedes.scale.ScaleFactory">
         	<shortcut id="sc"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/scale.png"
               label="%command.scale.label"
               mnemonic="%command.scale.mnemonic"
               style="push"
               tooltip="%command.scale.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.scale">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/scale.png"
               label="%command.scale.label"
               mnemonic="%command.scale.mnemonic"
               style="push"
               tooltip="%command.scale.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.scale">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
