<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="br.org.archimedes.core.factory">
 <factory id="br.org.archimedes.factoryexample"
  class="br.org.archimedes.factoryexample.FactoryExampleFactory">
  <shortcut id="f"/>
 </factory>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      <menu
            id="wsl"
            label="%menu.factoryexample.label"
            mnemonic="%menu.factoryexample.mnemonic"
            tooltip="%menu.factoryexample.tooltip">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               id="br.org.archimedes.factoryexample.action"
               label="%command.factoryexample.label"
               mnemonic="%command.factoryexample.mnemonic"
               style="push"
               tooltip="%command.factoryexample.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.factoryexample">
            </parameter>
         </command>
      </menu>
   </menuContribution>
</extension>
</plugin>
