<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
			id="br.org.archimedes.intersector.linetext"
			element="br.org.archimedes.line"
			otherElement="br.org.archimedes.text"
			class="br.org.archimedes.intersector.linetext.LineTextIntersector"/>
   </extension>

</plugin>
