<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.polyline.explode"
          class="br.org.archimedes.polyline.explode.ExplodeFactory">
         	<shortcut id="x"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/explode.png"
               label="%command.explode.label"
               mnemonic="%command.explode.mnemonic"
               style="push"
               tooltip="%command.explode.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline.explode">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/explode.png"
               label="%command.explode.label"
               mnemonic="%command.explode.mnemonic"
               style="push"
               tooltip="%command.explode.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.polyline.explode">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
