<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element
               class="br.org.archimedes.dimension.Dimension"
               factory="br.org.archimedes.dimension.DimensionFactory"
               id="br.org.archimedes.dimension"
               name="Dimension"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="The action set for the infinite line"
            id="br.org.archimedes.dimension.actionSet"
            label="Dimension action set"
            visible="true">
         <action
               class="br.org.archimedes.dimension.DimensionAction"
               icon="icons/dimension.png"
               id="br.org.archimedes.dimension.actionCreate"
               label="%action.dimension.label"
               menubarPath="create/complex0"
               style="push"
               toolbarPath="create/complex0"
               tooltip="%action.dimension.tooltip">
            <enablement>
               <objectClass name="br.org.archimedes.model.Drawing"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
</plugin>
