<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.intersections.elementsIntersector">
         <elementsIntersector
			id="br.org.archimedes.intersector.arccircle"
			element="br.org.archimedes.arc"
			otherElement="br.org.archimedes.circle"
			class="br.org.archimedes.intersector.arccircle.ArcCircleIntersector"/>
   </extension>

</plugin>
