<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="br.org.archimedes.intersections">
        <elementsIntersector
		id="br.org.archimedes.intersector.arcinfiniteline"
		element="br.org.archimedes.arc"
		otherElement="br.org.archimedes.infiniteline"
		class="br.org.archimedes.intersector.arcinfiniteline.ArcInfinitelineIntersector"/>     
	</extension>

</plugin>
