<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.copytoclipboard"
          class="br.org.archimedes.copytoclipboard.CopyToClipboardFactory">
         	<shortcut id="cp"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?before=clipboard.ext">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/copy_cp.png"
               label="%command.copytoclipboard.label"
               mnemonic="%command.copytoclipboard.mnemonic"
               style="push"
               tooltip="%command.copytoclipboard.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.copytoclipboard">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:edit">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/copy_cp.png"
               label="%command.copytoclipboard.label"
               mnemonic="%command.copytoclipboard.mnemonic"
               style="push"
               tooltip="%command.copytoclipboard.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.copytoclipboard">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.core.factoryactivator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+C">
         <parameter
               id="br.org.archimedes.core.factoryactivator.name"
               value="br.org.archimedes.copytoclipboard">
         </parameter>
      </key>
   </extension>         

</plugin>
