<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element id="br.org.archimedes.circle" name="Circle" 
         	class="br.org.archimedes.circle.Circle"
         	factory="br.org.archimedes.circle.CircleFactory"
         	shortcut="c" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/circle.png"
               id="circle"
               label="%command.circle.label"
               mnemonic="%command.circle.mnemonic"
               style="push"
               tooltip="%command.circle.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.circle">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/circle.png"
               id="circle"
               label="%command.circle.label"
               mnemonic="%command.circle.mnemonic"
               style="push"
               tooltip="%command.circle.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.circle">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
