<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.element">
         <element id="br.org.archimedes.arc" name="Arc" 
         	class="br.org.archimedes.arc.Arc"
         	factory="br.org.archimedes.arc.ArcFactory"
         	shortcut="a" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/arc.png"
               id="arc"
               label="%command.arc.label"
               mnemonic="%command.arc.mnemonic"
               style="push"
               tooltip="%command.arc.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.arc">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:create?before=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/arc.png"
               id="arc"
               label="%command.arc.label"
               mnemonic="%command.arc.mnemonic"
               style="push"
               tooltip="%command.arc.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.arc">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
