<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="ActionSet para Pan"
            id="br.org.archimedes.pan.actionSet"
            label="ActionSet do Pan"
            visible="true">
         <action
               class="br.org.archimedes.pan.PanAction"
               icon="icons/pan.png"
               id="br.org.archimedes.pan.PanAction"
			   label="%action.pan.label"
               menubarPath="zoom/move0"
               style="push"
               toolbarPath="zoom/move0"
               tooltip="%action.pan.tooltip">
            <enablement>
               <objectClass name="br.org.archimedes.model.Drawing"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="br.org.archimedes.factory">
         <factory id="br.org.archimedes.pan"
          class="br.org.archimedes.pan.PanFactory">
         	<shortcut id="p"/>
         </factory>         
   </extension>

</plugin>
