<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.offset"
          class="br.org.archimedes.offset.OffsetFactory">
         	<shortcut id="o"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/offset.png"
               label="%command.offset.label"
               mnemonic="%command.offset.mnemonic"
               style="push"
               tooltip="%command.offset.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.offset">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:transform?after=complex">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/offset.png"
               label="%command.offset.label"
               mnemonic="%command.offset.mnemonic"
               style="push"
               tooltip="%command.offset.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.offset">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
