<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.undo"
          class="br.org.archimedes.undo.UndoFactory">
         	<shortcut id="u"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=editStart">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/undo.png"
               id="undo"
               label="%command.undo.label"
               mnemonic="%command.undo.mnemonic"
               style="push"
               tooltip="%command.undo.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.undo">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:edit?after=editStart">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/undo.png"
               id="undo"
               label="%command.undo.label"
               mnemonic="%command.undo.mnemonic"
               style="push"
               tooltip="%command.undo.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.undo">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.core.factoryactivator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+Z">
         <parameter
               id="br.org.archimedes.core.factoryactivator.name"
               value="br.org.archimedes.undo">
         </parameter>
      </key>
   </extension>
</plugin>
