<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.redo"
          class="br.org.archimedes.redo.RedoFactory">
         	<shortcut id="re"/>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=undo">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/redo.png"
               label="%command.redo.label"
               mnemonic="%command.redo.mnemonic"
               style="push"
               tooltip="%command.redo.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.redo">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:edit?after=undo">
         <command
               commandId="br.org.archimedes.core.factoryactivator"
               icon="icons/redo.png"
               label="%command.redo.label"
               mnemonic="%command.redo.mnemonic"
               style="push"
               tooltip="%command.redo.tooltip">
            <parameter
                  name="br.org.archimedes.core.factoryactivator.name"
                  value="br.org.archimedes.redo">
            </parameter>
         </command>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.org.archimedes.core.factoryactivator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="br.org.archimedes.bindings.default"
            sequence="M1+Y">
         <parameter
               id="br.org.archimedes.core.factoryactivator.name"
               value="br.org.archimedes.redo">
         </parameter>
      </key>
   </extension>
</plugin>
