<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="The action set for Redo actions"
            id="br.org.archimedes.redo.actionSet"
            label="Redo Action Set"
            visible="true">
         <action
               icon="icons/redo.png"
               id="br.org.archimedes.redo.redoAction"
               label="%action.redo.label"
               menubarPath="edit/simplex0"
               style="push"
               class="br.org.archimedes.redo.RedoAction"
               toolbarPath="edit/simplex0"
               tooltip="%action.redo.tooltip">
            <enablement>
               <objectClass name="br.org.archimedes.model.Drawing"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="br.org.archimedes.core.factory">
         <factory id="br.org.archimedes.redo"
          class="br.org.archimedes.redo.RedoFactory">
         	<shortcut id="re"/>
         </factory>
   </extension>
</plugin>
